body{
  --color-primary: #201148;
  --color-primary-light: #2011A2;
  --color-secondary-one: #FF34B3;
  --color-secondary-two: #00CCFD;

  --color-success: #39FF14;
  --color-error: #FF3131;

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--color-primary-light);
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--color-secondary-two);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 280px;
  border-color: var(--color-secondary-one);
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--color-success);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: var(--color-success);
}
.alert {
  padding: 20px;
  background-color: var(--color-error);
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

.box #signup-button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--color-success);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
}
.box #signup-button:hover{
  background: var(--color-success);
}

.box hr {
  border: 0;
  background: var(--color-primary-light);
  height: 2px;
}
