/*setting custom fonts - Does not work in IE yet*/
@font-face
{
	font-family: 'pattaya';
	src: url('fonts/Pattaya-Regular.ttf');
}
@font-face
{
	font-family: 'nunito';
	src: url('fonts/Nunito-Regular.ttf');
}
@font-face
{
	font-family: 'valorant';
	src: url('fonts/Valorant Font.ttf');
}
@font-face
{
	font-family: 'Overpass';
	src: url('fonts/Overpass-Regular.ttf');
}
/*page background*/
body 
{
    /*Sets background with a alpha gradient to make it darker*/
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url('images/viper-green.png');
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    /*remove scrollbar*/
    -ms-overflow-style: none;
	scrollbar-width: none;
}
/*remove scrollbar on other browsers*/
body::-webkit-scrollbar {
    display: none;
  }
/*main navigation bar*/
.navbar
{
    overflow: hidden;
    background-color: black;
    position: sticky;
    height: 46px;
    box-shadow: 60px;
    top: 0;
    /*make sure this shows over pretty much any other elements*/
    z-index: 50;
}
.navbar a
{
    text-decoration: none;
    text-align: center;
	padding: 14px 16px;
    color: white;
    font-family: valorant;
}
/*format for active page*/
.navbar a.active
{
    background-color: #00ff00;
    color: black;
}
/*change color on hover*/
.navbar a.lnk:hover
{
    background-color: #00ff00;
    color: black;
}
.navbar a img
{
    top: -14px;
    overflow: visible;
    position: relative;
}
/*float left. Makes it easy to set this so that we can put links on either side of the navbar without having a whole new 'a' class*/
.navbar a.left
{
    float: left;
}
/*same as above but to the right*/
.navbar a.right
{
    float: right;
}
/*search box formatting*/
.navbar input
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5px;
}
/*submit button*/
.navbar button
{
    border: none;
    text-decoration: none;
    text-align: center;
	padding: 14px 16px;
    font-size: 16px;
    background-color: #222;
    color: white;
    font-family: valorant;
    float: right;
}
/*change bg on hover*/
.navbar button:hover
{
    background-color: #333;
}
/*formatting for top banner*/
.titlediv
{
    background-size: cover;
    text-align: center;
    color: white;
    background-image: url('images/Edited-header.png');
    background-attachment: fixed;
    overflow: hidden;
    padding: 100px;
}
.titlediv div.ctr
{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 346px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.titlediv img
{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    
}
.titlediv img.in
{
    opacity: 1;
}
.titlediv h1
{
    font-family: valorant;
    font-size: 86px;
    margin: 0;
}
.titlediv h2
{
    margin: 0;
    font-family: pattaya;
    font-size: 36px;
}
.gallery
{
    font-size: 0;
	margin: 15px;
    display: inline-block;
	width: 400px;
    height: 400px;
	border-radius: 5px;
	position: relative;
	top:0;
    background-color: #333;
    
}
.gallery a img {
    width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.card-desc {
    font-family: nunito;
    color: white;
	font-size: 20px;
  	padding: 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    overflow: scroll;
    -ms-overflow-style: none;
	scrollbar-width: none;
    height: 120px;
}
.card-desc::-webkit-scrollbar
{
    display: none;
}
.gallery button
{
    font-family: nunito;
    background-color: #00ff00;
    border-radius: 5px;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
    bottom: 50px;
    border: none;
    font-size: 20px;
    width: 80%;
}
.gallery:hover {
	box-shadow: 10px 10px cyan;
	top: -10px;
	left: -10px;
}
.card-symbol
{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: auto;
}
.cardCenter
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.card-desc div.tag
{
    display: inline-block;
    flex-wrap: wrap;
    margin: 2px 5px 2px 5px;
    border-radius: 15px;
    background-color: blueviolet;
    text-align: center;
    padding: 0;
    color: black;
    font-family: nunito;
    cursor: pointer;
}
.card-desc div.tag p
{
    margin: 5px;
}
.card-desc p
{
    margin: 5px;
}