@font-face
{
	font-family: 'pattaya';
	src: url('fonts/Pattaya-Regular.ttf');
}
@font-face
{
	font-family: 'nunito';
	src: url('fonts/Nunito-Regular.ttf');
}
@font-face
{
	font-family: 'valorant';
	src: url('fonts/Valorant Font.ttf');
}
@font-face
{
	font-family: 'Overpass';
	src: url('fonts/Overpass-Regular.ttf');
}
body {
    background-color: blanchedalmond;    
}

.glass {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px;
/*border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
