body {
    background-color: blanchedalmond;    
}

.glass {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px;
/*border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.nav-wrapper {
    position: fixed;
    right:0;
    left:0;
  }
  
/*Border for debugging */
  .cardtest {
    border: 1px solid rgba(255, 2, 2, 1);
  }

  a:visited{
    color:none;
  }